*{
	padding:0;
	margin:0;
	box-sizing:border_box;
	
}
.icon{
	font-size:50px;
	padding-left:10px
}
.card{
	width:200px;
	border:1px solid #F0EAE6;
	background-color:#F0EAE6;
	box-shadow:5px 5px 5px darkgrey;
	border-radius:10px 10px 10px 10px;

	
	
}
.details{
	padding:10px 10px 20px 10px;
}
h3{
	padding:10px 0px 10px 10px;
}
.row{
	display:flex;
	width:100%;
	margin-top:20%;
}
.col{
	width:25%;
}
section
{width:80%;
margin:auto;
}
.col{
	width:300px;
	background-color:#E3CEC1;
	padding:20px;
	
	
}
.card:hover {
  background-color: blue;
  color:white;
  transform:scale(1.2)
}
